---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
	<h1>About Me</h1>
	<div class="about-content">
		<p>Welcome to my blog! I'm passionate about sharing my experiences and knowledge.</p>
	</div>
</Layout>


